.text-primary1{
    color: #003C91;
}
.font-weight-bold-600{
    font-weight: 600;
}
.font-1-2rem{
    font-size: 1.2rem;
}
.error{
    border-color: #EF4832;
}
.input-login{
    height: 45px;
}
.bg-transparent{
    background-color: transparent;
}
.cursor-pointer{
    cursor: pointer;
}
.btn-login,
.btn-login:hover,
.btn-login:focus,
.btn-login:active{
    background-color: #3C81BF!important;
    border-color: #3C81BF!important;
    height: 40px;
    box-shadow: none!important;
    outline: none;
}
.input-group-text{
    border-top-right-radius: .25rem!important;
    border-bottom-right-radius: .25rem!important;
}
.main{
    height: 100vh;
    overflow: hidden;
}
.text-primary2{
    color: #004884;
}
.letter-bienvenidos{
    position: absolute;
    left: 10%;
    top: 35%;
    transform: translate(-10px, -35px);
}